.topo {
    background-color: var(--color-azul-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    font-family: var(--font-bold);
    font-size: 3rem;
}

.topo__marca {
    color: var(--color-preto)
}

.topo__titulo {
    color: var(--color-azul-escuro);
    padding-left: 8px;
}

.baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    font-size: 1rem;
    background-color: var(--color-azul-claro);
    height: 144px;
    text-align: center;
    line-height: 24px;
}

.fa-brands {
    font-size: 2rem;
}

.rodape__icones {
    font-size: 1.25rem;
}

.cards-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card-area__card {
    display: flex;
    width: 352px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 128px 24px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

.card-area__img {
    width: 60%;
    min-width: 160px;
}

.card__preco {
    font-size: 1.5rem;
    font-family: var(--font-light);
}

.card__titulo {
    font-size: 2rem;
    font-family: var(--font-bold);
}

.card__descricao {
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-regular);
    line-height: 24px;
}

.card__button-add {
    color: var(--color-azul-escuro);
    font-size: 2rem;
    cursor: pointer;
    margin-top: -56px;
}

.card__button-add:hover {
    color: var(--color-azul-mt-escuro);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 672px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    padding: 64px;
    gap: 64px;
    background-color: rgb(255, 208, 211);
    border-radius: 35px;
}

.modal__detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 16px;
}

.modal__titulo {
    font-family: var(--font-bold);
    font-size: 32px;
}

.modal__descricao {
    font-size: 16px;
    font-family: var(--font-light);
    line-height: 24px;
}

.modal__tamanho-area {
    background-color: #eeeeee;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 56px;
    width: fit-content;
    overflow: hidden;
}

.modal__tamanho-area button {
    padding: 16px;
}

.modal__tamanho-area button:hover {
    background-color: var(--color-azul-mt-escuro);
}

.modal__img {
    width: 100%;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__texto {}

.modal__controle-unidade {
    background-color: #eeeeee;
    border-radius: 16px;
    width: 162px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.modal__controle-unidade button {
    padding: 16px 34px;
}

.modal__controle-unidade button:hover {
    background-color: var(--color-cinza-escuro);
}

.botao-verde {
    background-color: #48D05F;
    border-radius: 20px;
    padding: 16px 32px 16px 32px;
}

.botao-verde:hover {
    background-color: seagreen;
}

.botao-vermelho {
    background-color: #E92929;
    border-radius: 20px;
    padding: 16px 32px 16px 32px;
}

.botao-vermelho:hover {
    background-color: rgb(70, 8, 8)
}

.modal__btns-area {
    display: flex;
    gap: 16px;
}

.light-peso {
    font-family: var(--font-light);
    font-size: 16px;
}

.bold-tamanho {
    font-family: var(--font-bold);
    font-size: 20px;
}

.modal__preco-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.modal__texto-quant {
    padding: 15px;
}


/*CARRINHO*/

.carrinho {
    display: flex;
}

.carrinho__detalhes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carrinho__itens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.carrinho__titulo {
    font-family: var(--font-bold);
    padding: 16px;
}

.carrinho__img {
    width: 100px;
}

.carrinho__img img {
    width: 100%;
}

.carrinho__texto {
    display: flex;
    flex-direction: column;
}

.carrinho__controle-unidade {
    background-color: #eeeeee;
    border-radius: 16px;
    width: 162px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.carrinho__controle-unidade button {
    padding: 16px 34px;
}

.carrinho__controle-unidade button:hover {
    background-color: var(--color-cinza-escuro);
}

.carrinho__valor {
    display: flex;
    flex-direction: column;
}

.carrinho__valor-subtotal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.carrinho__valor-desconto {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.carrinho__valor-total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.carrinho__botao-finalizar {
    background-color: #48D05F;
    border-radius: 20px;
    padding: 16px 32px 16px 32px;
}